# Python Course Project of MJ- Nov 2018

In [1]:
import sqlite3
import pandas as pd
print("SQLite Version is:", sqlite3.sqlite_version)
print("DB-API Version is:", sqlite3.version)

db = sqlite3.connect("Python_nov_project.db")
c = db.cursor()

c.execute('''DROP TABLE IF EXISTS [PythonMJ]''')
c.execute('''CREATE TABLE PythonMJ(TICKER, Company, T_Assets, T_Liabilities, Debt, Intangible_Assets, Equity, Debt_covered_by_Equity, Marketable_Assets, Marketable_Equity, Debt_covered_by_Marketable_Equity)''')
c.execute('''INSERT INTO PythonMJ VALUES ('T', 'ATT', '444097', '302090', '151346', '0', NULL, NULL, NULL, NUll, NULL)''') 
c.execute('''INSERT INTO PythonMJ VALUES ('ABC', 'Fake', '345000', '205000', '120300', '189000', NULL, NULL, NULL, NULL, NULL)''')
db.commit()

SQLite Version is: 3.21.0
DB-API Version is: 2.6.0

In [2]:
db = sqlite3.connect("Python_nov_project.db")
c = db.cursor()

sql_plt = "SELECT * FROM PythonMJ"
plt = pd.read_sql_query(sql_plt, db)

print(plt)

  TICKER Company T_Assets T_Liabilities    Debt Intangible_Assets Equity  \
0      T     ATT   444097        302090  151346                 0   None
1    ABC    Fake   345000        205000  120300            189000   None

  Debt_covered_by_Equity Marketable_Assets Marketable_Equity  \
0                   None              None              None
1                   None              None              None

  Debt_covered_by_Marketable_Equity
0                              None
1                              None

In [3]:
db = sqlite3.connect("Python_nov_project.db")
c = db.cursor()

c.execute('''DROP TABLE IF EXISTS [PythonMJ]''')
c.execute('''CREATE TABLE PythonMJ(TICKER, Company, T_Assets, T_Liabilities, Debt, Intangible_Assets, Equity, Debt_covered_by_Equity, Marketable_Assets, Marketable_Equity, Debt_covered_by_Marketable_Equity)''')
c.execute('''INSERT INTO PythonMJ VALUES ('CVG', 'Chevron', 545000, 405000, 160300, 289000, NULL, NULL, NULL, NULL, NULL)''') 
c.execute('''DELETE FROM PythonMJ 
            WHERE TICKER LIKE '%ABC%'
            ''')

c.execute('''INSERT INTO PythonMJ 
    VALUES 
        ('FB','Facebook', 84524, 10177, 6417, 20105, NULL, NULL, NULL, NULL, NULL), 
        ('GE','GeneralElectric', 371738, 286352, 179311, 143632, NULL, NULL, NULL, NULL, NULL), 
        ('WY','WeyerhaeuserCo', 17791, 8892, 6503, 325, NULL, NULL, NULL, NULL, NULL), 
        ('XOM','ExxonMobil', 348691, 154191, 69229, 0, NULL, NULL, NULL, NULL, NULL),
        ('F','FordMotor', 247734, 212030, 172179, 0, NULL, NULL, NULL, NULL, NULL),
        ('BUD','AnheuserBusch', 244910, 164690, 116499, 186814, NULL, NULL, NULL, NULL, NULL)
        ''')

sql_plt = "SELECT * FROM PythonMJ"

print(plt)

db.commit()

  TICKER Company T_Assets T_Liabilities    Debt Intangible_Assets Equity  \
0      T     ATT   444097        302090  151346                 0   None
1    ABC    Fake   345000        205000  120300            189000   None

  Debt_covered_by_Equity Marketable_Assets Marketable_Equity  \
0                   None              None              None
1                   None              None              None

  Debt_covered_by_Marketable_Equity
0                              None
1                              None

In [4]:
db = sqlite3.connect("Python_nov_project.db")
c = db.cursor()

c.execute('''UPDATE PythonMJ SET Equity = T_Assets - T_Liabilities''')


db.commit()
db.close()

In [5]:
db = sqlite3.connect("Python_nov_project.db")
c = db.cursor()

c.execute('''UPDATE PythonMJ SET Debt_covered_by_Equity = Debt / Equity''')

db.commit()
db.close()

In [6]:
db = sqlite3.connect("Python_nov_project.db")
c = db.cursor()

c.execute('''UPDATE PythonMJ SET Marketable_Assets = T_Assets - Intangible_Assets''')

db.commit()    
db.close()

In [7]:
db = sqlite3.connect("Python_nov_project.db")
c = db.cursor()

c.execute('''UPDATE PythonMJ SET Marketable_Equity = Marketable_Assets - T_Liabilities''')

db.commit()
db.close()

In [25]:
db = sqlite3.connect("Python_nov_project.db")
c = db.cursor()

c.execute('''UPDATE PythonMJ SET Debt_covered_by_Marketable_Equity = round(Debt*1.0 / Marketable_Equity, 2)''')

db.commit()
db.close()